.content-author {
  .content {
    .content-title {
      font-weight: bold;
      font-size: 1.4rem;
    }

    .content-cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      justify-items: center;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1024px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }
  }

  .pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
}
