<main class="content-author">
  <app-author-profile-info
    [user]="user"
    [postCounts]="postCounts"
  ></app-author-profile-info>

  <div class="content">
    <p class="content-title">Publications</p>
    <div class="content-cards">
      <app-post-card
        *ngFor="let post of posts; let i = index"
        [author]="user.name"
        [authorId]="user.id"
        [title]="post.title"
        [summary]="post.body"
        [clickCard]="clickPost"
        [id]="i"
      ></app-post-card>
    </div>
  </div>
  <div class="content">
    <div class="pagination">
      <app-button
        name="Load More"
        [clickButton]="load"
        *ngIf="!allLoaded"
      ></app-button>
    </div>
  </div>
</main>
