.info-comment {
  display: flex;
  align-items: flex-start;

  img {
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .author-name {
    margin: 0 8px;
    font-weight: bold;
    font-size: 1rem;
  }

  .author-email {
    margin: 8px;
    color: #858484;
    font-weight: normal;
    font-size: 0.8rem;
    font-style: italic;
  }
}
