<main class="content-post" style="">
  <div class="post">
    <app-post-card-full
      [post]="post"
      [defaultCover]="defaultCover"
    ></app-post-card-full>

    <div class="post-comment">
      <p>Comments</p>
      <app-comment-post-item [comments]="post.comments"></app-comment-post-item>
      <p>Leave a reply</p>
      <app-comment-post-form
        (commentData)="sendComment($event)"
      ></app-comment-post-form>
    </div>
  </div>

  <div class="content-lateral">
    <p class="content-title">Author</p>
    <app-author-post-info
      [post]="post"
      [totalUserPosts]="totalUserPosts"
    ></app-author-post-info>

    <div class="recomends">
      <p class="content-title">Suggestions for you</p>
      <div class="content-cards">
        <app-post-card
          *ngFor="let post of posts | slice : 0 : 3; let i = index"
          [author]="post.user.name"
          [authorId]="post.user.id"
          [title]="post.title"
          [summary]="post.body"
          [clickCard]="clickPost"
          [id]="post.id"
        ></app-post-card>
      </div>
    </div>
  </div>
</main>
